<div>
<header>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<li class="w3-jumbo w3-teal"></i>My Report</li>-->
</header>


<!-- GBC will be rendered in this div -->
<div class="containerElement"></div>
<footer>
My Records
</footer>
</div>