/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2019. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_MyMainContainerWidget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > header {
    padding: 1em;
    background-color: $theme-primary-faded-background-color;
    color: $theme-primary-color;
    text-align: center;
  }
  > .containerElement {
    flex: 1 1 0px;
    position: relative;
  }
  > footer {
    padding: 1em;
    background-color: $theme-primary-faded-background-color;
    color: $theme-primary-color;
    text-align: center;
  }
}
.gbc_MyMainContainerWidget > header{
      background-color: #ff7068;
}
.gbc_ChromeBarWidget.mt-toolbar .mt-toolbar-title{
  display :none;
}
.gbc_ChromeBarWidget.mt-toolbar{
  
}
body {
  background-color :#f44336;
}
.mt-toolbar{
  background-color: #c9c9c9;
}