<!--
 FOURJS_START_COPYRIGHT(D,2016)
 Property of Four Js*
 (c) Copyright Four Js 2016, 2020. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div>
   <b class="MyHeaderBarWidget-counter"></b>
  <span data-i18n="mycusto.window.currentTitle"></span> : <b class="MyHeaderBarWidget-title"></b>
</div>