<!--
 FOURJS_START_COPYRIGHT(D,2016)
 Property of Four Js*
 (c) Copyright Four Js 2016, 2019. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <b class="MyHeaderBarWidget-counter" style="display: none;"></b>
  <span data-i18n="mycusto.window.currentTitle"></span><b class="MyHeaderBarWidget-title" style="display: none;"></b>
</div>