<!--
 FOURJS_START_COPYRIGHT(D,2016)
 Property of Four Js*
 (c) Copyright Four Js 2016, 2019. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div>
  <header>
    company module 
 
    
     </header>

  <!-- GBC will be rendered in this div -->
  <div class="containerElement"></div>
  <footer>
    company module  
  </footer>
</div>