<div tabindex="0" class="gbc_dataContentPlaceholder mt-label" role="note"style="font-weight: bold;color:blue;
                                                                                font-size: 10px;font-family:franktur;">
  <span class="gbc-label-text-container"></span>
</div>