<!--
 FOURJS_START_COPYRIGHT(D,2016)
 Property of Four Js*
 (c) Copyright Four Js 2016, 2019. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div class="mt-field containerElement" tabindex="0" role="combobox">
  <i class="zmdi toggle" title="Open list"></i>
  <!-- <img src="resources/img/caret-down.png?$CACHE" style="width: 14px; margin-right: 18px;"> -->
</div>
