<!--
 FOURJS_START_COPYRIGHT(D,2016)
 Property of Four Js*
 (c) Copyright Four Js 2016, 2020. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div>
	<marquee>
		I2 GEN PVT LLP
	</marquee>
  <header>
    WELCOME TO OUR COMPANY
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href=" https://www.w3schools.com/w3css/4/w3.css ">
<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css ">
<li class="w3-jumbo w3-teal"><i class="fa fa-home"></i>My Reports</li>
  </header>
  
  <!-- GBC will be rendered in this div -->
  <div class="containerElement"></div>
  <footer>
    THANK YOU.VISIT AGAIN.
  </footer>
</div>