/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2020. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_MyMainContainerWidget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > header {
    padding: 1em;
    background-color: #ff5106;
    color: #212121;
    text-align: center;
  }
  > .containerElement {
    flex: 1 1 0px;
    position: relative;
  }
  > footer {
    padding: 1em;
    background-color: #ff5106;
    color: #212121;
    text-align: center;
  }
.gbc_TableWidget .gbc_TableColumnTitleWidget .headerText {
    font-size: 0.9em;
    min-height: 9.6px;
    font-weight: bold;
    flex: 1 1 0px;
    min-width: 0;
    margin-left: 1.8px;
    white-space: pre;
    background-color: aquamarine;
}
}