<!--
 FOURJS_START_COPYRIGHT(D,2014)
 Property of Four Js*
 (c) Copyright Four Js 2014, 2019. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div class="mt-dialog" role="dialog" style="z-index: 9999999999 !important;">
  <div class="mt-dialog-pane mt-card initial">
    <div class="mt-dialog-header">
      <div class="mt-dialog-title"></div>
      <div class="movable_firefox_placekeeper">.</div>
      <div class="mt-dialog-actions">
          <span class="close">
            <i class="zmdi zmdi-close" title="Close window"></i>
          </span>
      </div>
    </div>
    <div class="mt-dialog-content containerElement"></div>
    <div class="mt-dialog-footer"></div>
    <div
      class="mt-dialog-resizer">
      <div class="sizable_firefox_placekeeper">.</div>
      <i
        class="mt-resizer-icon zmdi zmdi-resize-bottom-right"></i></div>
  </div>
</div>
