<!--
 FOURJS_START_COPYRIGHT(D,2014)
 Property of Four Js*
 (c) Copyright Four Js 2014, 2019. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<form>
    <div class="gbc_WindowMainContainer">
        <div class="gbc_WindowTopMenuContainer"></div>
        <div class="gbc_WindowToolbarContainer"></div>
        <div class="gbc_WindowMenuContainerTop"></div>
        <div class="gbc_WindowMenuContainerMiddle">
            <div class="gbc_WindowMenuContainerLeft"></div>
            <div class="gbc_WindowContent">
    

                <div class="containerElement"></div>
            </div>
            
            <div class="gbc_WindowMenuContainerRight"></div>
        </div>
        <div class="gbc_WindowMenuContainerBottom"></div>
    </div>
</form>
