<div class="mt-field containerElement" tabindex="0" style="background-color:brown ">
<div class="gbc_dataContentPlaceholder"><input type="text" class="gbc-label-text-container"/></div>
<i class="zmdi zmdi-calendar-blank widget-decoration" title="Open picker"></i>
</div>