/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2020. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_MyMainContainerWidget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

.gbc_ChromeBarWidget.mt-toolbar {
    display: none;
    height: 56px;
}
header.mt-toolbar {
    z-index: 20;
}

  > header {
    padding: 1em;
    background-color: #be1755a3;
    color: $theme-primary-color;
    text-align: center;
  }
  > .containerElement {
    flex: 1 1 0px;
    position: relative;
  }
  > footer {
    padding: 1em;
    background-color: #d76192;
    color: $theme-primary-color;
    text-align: center;
  }
}