/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2020. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_MyMainContainerWidget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > header {
    padding: 1em;
    background-color:coral;
    color: $theme-primary-color;
    text-align: center;
  }
  > .containerElement {
    flex: 1 1 0px;
    position: relative;
  }
  > footer {
    padding: 1em;
    background-color:coral;
    color: $theme-primary-color;
    text-align: center;
  }

  .gbc_ChromeBarWidget.mt-toolbar {
    display: none;
    height: 56px;
}
.gbc-label-text-container {
  flex: 1 1 auto;
  white-space: pre;
  text-align: center;
}
.gbc_WindowMainContainer > .gbc_WindowMenuContainerMiddle > .gbc_WindowContent {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  background-image: url('https://i.pinimg.com/736x/37/6e/2d/376e2dab5652d6e1751e25cbcb52f2d5.jpg');
  background: cover no-repeat;
  padding: 4.8px;
}

.gbc_MyMainContainerWidget .gbc-label-text-container {
  flex: 1 1 auto;
  white-space: pre;
  text-align: center;
  color: yellow;
  font-style: italic;
  font-size:large;
}

}
