/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2020. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_MyMainContainerWidget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > header {
    padding: 1em;
    background-color:#538FFB;
    color: $theme-primary-color;
    text-align: center;
  }
  > .containerElement {
    flex: 1 1 0px;
    position: relative;
  }
  > footer {
    padding: 1em;
    background-color: #538ffb;
    color: $theme-primary-color;
    text-align: center;
  }
  .gbc_ChromeBarWidget.mt-toolbar {
    display: none;
    height: 56px;
}
.gbc_WindowMainContainer > .gbc_WindowMenuContainerMiddle > .gbc_WindowContent {
    overflow: hidden;
    display: flex;
    flex: 1 1 auto;
    background-image: url('https://wallpaperaccess.com/full/817598.jpg');
    background:cover no-repeat;
    padding: 4.8px;
  }
  .gbc_GroupWidgetContent {
    padding: 3.6px;
    flex: 1 1 auto;
    background-image: url('https://wallpaperaccess.com/full/817598.jpg');
    background:cover no-repeat;
}
  img {
    vertical-align: middle;
    border-style: none;
    border-radius: 100px;
}
.gbc_ImageWidget.gbc_withBorder {
    background: transparent;
    border-radius: 100px;
}
.gbc_WindowWidget .gbc_WindowMenuContainerRight .gbc_MenuWidget {
    flex-direction: column;
  
}
.gbc_TableWidget .gbc_TableColumnTitleWidget .headerText {
    font-size: 20px;
    color: black;
    min-height: 9.6px;
    font-weight: bold;
    flex: 1 1 0px;
    min-width: 0;
    margin-left: 1.8px;
    font-family: 'Times New Roman', Times, serif;
    white-space: pre;
}
}