/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2020. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */

.gbc_MyMainContainerWidget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > header {
    padding: 1em;
    background-color: dodgerblue;
    color: $theme-primary-color;
    text-align : left;
    height: 70px;
  }
  > .containerElement {
    flex: 1 1 0px;
    position: relative;
  }
  > footer {
    padding: 1em;
    background-color: dodgerblue;
    color: white;
    text-align: center;
  }
  .is-not-mobile-device .gbc_ChromeBarWidget.mt-toolbar {
    height: 32.9411764706px;
    display: none;
  }
  .gbc_MyMainContainerWidget > header {
  padding: 1em;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  }
  .gbc_ChromeBarWidget.mt-toolbar {
    height: 56px;
    display: none;
}
}