.myedit{
    font-size: 20px;
    padding:7px;
    font-weight: 600;
    color:blue;
    text-shadow: 0 0 black;
}
.myfirstDate{
    min-height: 35px;
    border-radius: 25px;
}
.mybuttonwidget{
    font-size: 20px;
    padding:7px;
    font-weight: 600;
    color:blue;
    text-shadow: 0 0 black;
}

