<!--
 FOURJS_START_COPYRIGHT(D,2015)
 Property of Four Js*
 (c) Copyright Four Js 2015, 2019. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div>
  <div tabindex="0" class="mt-button zoom-button" role="button">
    <div class="textimage">
      <span class="mt-button-text" style="font-size: 14px !important;"></span>
    </div>
  </div>
</div>
