<!--
 FOURJS_START_COPYRIGHT(D,2014)
 Property of Four Js*
 (c) Copyright Four Js 2014, 2019. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div class="empty">
  <span class="gbc-label-text-container" style="padding-bottom: 45px;"></span>
  <span class="group-collapser"><i class="zmdi zmdi-chevron-down zmdi-hc-2x" title="Toggle collapse"></i></span>
</div>