<!--
 FOURJS_START_COPYRIGHT(D,2015)
 Property of Four Js*
 (c) Copyright Four Js 2015, 2019. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->

<div role="table" style="box-shadow: none; width: 890px;">
  <!-- Left frozen columns -->
  <div class="gbc_TableLeftContainer hidden">
    <div class="gbc_TableLeftColumnsHeaders"></div>
    <div class="gbc_TableLeftScrollArea">
      <div class="gbc_TableLeftColumnsContainer"></div>
    </div>
    <div class="gbc_TableLeftColumnsFooter">
    </div>
  </div>

  <div class="gbc_TableContainer">
    <div class="gbc_TableColumnsHeaders"></div>
    <div class="gbc_TableScrollArea">
      <div class="gbc_TableColumnsContainer containerElement"></div>
    </div>
    <div class="gbc_TableColumnsFooter hidden">
      <div class="gbc_TableAggregateSpacer"></div>
    </div>
  </div>

  <!-- Right frozen columns -->
  <div class="gbc_TableRightContainer hidden">
    <div class="gbc_TableRightColumnsHeaders"></div>
    <div class="gbc_TableRightScrollArea">
      <div class="gbc_TableRightColumnsContainer"></div>
    </div>
    <div class="gbc_TableRightColumnsFooter">
    </div>
  </div>

</div>