<div tabindex="0" class="gbc_dataContentPlaceholder mt-label" role="note"style="font-weight: bold;color: Cyan;
                                                                                 font-size: 20px;">
  <span class="gbc-label-text-container"></span>
</div>