<!--
 FOURJS_START_COPYRIGHT(D,2015)
 Property of Four Js*
 (c) Copyright Four Js 2015, 2019. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div tabindex="0" class="gbc_dataContentPlaceholder mt-label dateof_label" role="note"style="font-weight: bold;font-size: 20px">
  <span class="gbc-label-text-container"></span>
</div>