<div class="mt-field containerElement myfirstdate" tabindex="0">
    <div class="gbc_dataContentPlaceholder"><input type="text" class="gbc-label-text-container" /></div>
    <i class="zmdi zmdi-calendar-blank widget-decoration" title="Open picker"></i>
</div>