<!--
 FOURJS_START_COPYRIGHT(D,2015)
 Property of Four Js*
 (c) Copyright Four Js 2015, 2019. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div class="gbc_dataContentPlaceholder"style="font-weight: bold;font-size:20px;color: blue;">
  <textarea></textarea>
</div>