<div>
  <header>
  

   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <li class="w3-jumbo w3-teal"><i class="fa fa-home"></i>I2gen Private Limited</li>
    <marquee behavior="scroll" direction="right" scrollamount="20"><font size="15" face="Cooper black" color="#030834">Welcome to Expense Report/font> </marquee>
    <br></br>
     <acronym title="Founded in 2010"><font size="20" color="black"><a href="https://www.i2gen.com/">----I2gen----</a></font></acronym>
  </header>

  

  <!-- GBC will be rendered in this div -->
  <div class="containerElement"></div>
  <footer>
    My Records
  </footer>
</div>
