<!--
 FOURJS_START_COPYRIGHT(D,2014)
 Property of Four Js*
 (c) Copyright Four Js 2014, 2019. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div class="mt-item blinking" role="menuitem">
  <div class="gbc_imageContainer blinking" style=" padding: 10px 20px;background-color:blue; 
                                                     "></div>
  <span></span>
</div>
