<div tabindex="0" class="gbc_dataContentPlaceholder mt-label" role="note"style="font-weight: bold;
                                                                                 font-size: 20px;color: green;font-family:arial;" >
  <span class="gbc-label-text-container"></span>
</div>