<!--
 FOURJS_START_COPYRIGHT(D,2016)
 Property of Four Js*
 (c) Copyright Four Js 2016, 2020. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div>
  <header>
    <img src="https://4js.com/wp-content/uploads/2015/05/logo.png" height="40px" margin-left="20px" />
  </header>
  <!-- GBC will be rendered in this div -->
  <div class="containerElement"></div>
  <footer>
    <p><a href="https://4js.com/" color="white">Four JS Development Tools Europe Ltd.</a></p>
  </footer>
</div>