<!--
 FOURJS_START_COPYRIGHT(D,2016)
 Property of Four Js*
 (c) Copyright Four Js 2016, 2019. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div>
  <header>
    my header 
 
    <p>Some Font Awesome icons:</p>
<i class="fas fa-band-aid"></i>
<i class="fas fa-cat"></i>
<i class="fas fa-dragon"></i>
<i class="far fa-clock"></i>
<i class="fas fa-clock"></i>

<p>Styled Font Awesome icons (size, color, and shadow):</p>
<i class="fas fa-clock" style="font-size:24px;"></i>
<i class="fas fa-clock" style="font-size:36px;"></i>
<i class="fas fa-clock" style="font-size:48px;color:red;"></i>
<i class="fas fa-clock" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i> 
     </header>

  <!-- GBC will be rendered in this div -->
  <div class="containerElement"></div>
  <footer>
    this is my footer
  </footer>
</div>