<!--
 FOURJS_START_COPYRIGHT(D,2014)
 Property of Four Js*
 (c) Copyright Four Js 2014, 2020. All Rights Reserved.
 * Trademark of Four Js Development Tools Europe Ltd
   in the United States and elsewhere
 
 This file can be modified by licensees according to the
 product manual.
 FOURJS_END_COPYRIGHT
-->
<div class="mt-tab-titles-bar" role="toolbar" aria-orientation="horizontal" style="font-family:Arial;color: Blue;background-color: pink">
  <div class="mt-tab-titles">
    <div class="mt-tab-titles-container containerElement"></div>
  </div>
  <div class="mt-tab-flow"></div>
</div>
