/*
 * FOURJS_START_COPYRIGHT(D,2018)
 * Property of Four Js*
 * (c) Copyright Four Js 2018, 2020. All Rights Reserved.
 * * Trademark of Four Js Development Tools Europe Ltd
 *   in the United States and elsewhere
 * 
 * This file can be modified by licensees according to the
 * product manual.
 * FOURJS_END_COPYRIGHT */



.gbc_MyMainContainerWidget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > header {
    padding: 0.1em;
    background-color: #004d80f5;
    color: white;
    font-family: arial black;
    font-size: large;
    font-weight: bold;
    text-align: center;
  }
  > .containerElement {
    flex: 1 1 3px;
    position: relative;
  }
  > footer {
    padding: 0.1em;
    background-color: #004d80f5;
    color: $theme-primary-color;
    font-family: georgia;
    font-weight: bold;
    text-align: center;
    font-size: larger;
  }
  .gbc_ChromeBarWidget.mt-toolbar {
    display: none;
    height: 56px;
}


}